# OS
.DS_Store

# Python bytecode
*.pyc
__pycache__/

# Virtual env
venv/
.venv/

# Git files
.git/
.gitignore

# PyCharm
.idea/

# Local dev
.env

# Build/output folders
build/
dist/

# Other unnecessary stuff
*.log

